<a href="https://colab.research.google.com/github/John-G-Thomas/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [0]:
import pandas as pd
import numpy as np

In [0]:
auto_url =  'https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'

In [0]:
columns = ['symboling','norm_loss','make','fuel','aspiration','doors',
           'bod_style','drv_wheels','eng_loc','wheel_base','length','width',
           'height','curb_weight','engine','cylinders','engine_size',
           'fuel_system','bore','stroke','compression','hp','peak_rpm',
           'city_mpg','hgwy_mpg','price']

In [4]:
df = pd.read_csv(auto_url, header=None, names=columns)
df

     symboling norm_loss         make  ... city_mpg hgwy_mpg  price
0            3         ?  alfa-romero  ...       21       27  13495
1            3         ?  alfa-romero  ...       21       27  16500
2            1         ?  alfa-romero  ...       19       26  16500
3            2       164         audi  ...       24       30  13950
4            2       164         audi  ...       18       22  17450
..         ...       ...          ...  ...      ...      ...    ...
200         -1        95        volvo  ...       23       28  16845
201         -1        95        volvo  ...       19       25  19045
202         -1        95        volvo  ...       18       23  21485
203         -1        95        volvo  ...       26       27  22470
204         -1        95        volvo  ...       19       25  22625

[205 rows x 26 columns]

In [5]:
df = df.replace({'?': np.NaN})

df.head()

   symboling norm_loss         make fuel  ... peak_rpm city_mpg hgwy_mpg  price
0          3       NaN  alfa-romero  gas  ...     5000       21       27  13495
1          3       NaN  alfa-romero  gas  ...     5000       21       27  16500
2          1       NaN  alfa-romero  gas  ...     5000       19       26  16500
3          2       164         audi  gas  ...     5500       24       30  13950
4          2       164         audi  gas  ...     5500       18       22  17450

[5 rows x 26 columns]

In [6]:
df.isnull().sum()

symboling       0
norm_loss      41
make            0
fuel            0
aspiration      0
doors           2
bod_style       0
drv_wheels      0
eng_loc         0
wheel_base      0
length          0
width           0
height          0
curb_weight     0
engine          0
cylinders       0
engine_size     0
fuel_system     0
bore            4
stroke          4
compression     0
hp              2
peak_rpm        2
city_mpg        0
hgwy_mpg        0
price           4
dtype: int64

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and compare your sample mean estimate to that value. Can you say that they are different?

In [0]:
sample1 = df.sample(30, random_state = 30)

In [20]:
sample1.head(30)

     symboling norm_loss           make  ... city_mpg hgwy_mpg  price
121          1       154       plymouth  ...       31       38   6692
176         -1        65         toyota  ...       27       32  10898
24           1       148          dodge  ...       31       38   6229
88          -1       137     mitsubishi  ...       23       30   9279
72           3       142  mercedes-benz  ...       16       18  35056
103          0       108         nissan  ...       19       25  13499
26           1       148          dodge  ...       31       38   7609
20           0        81      chevrolet  ...       38       43   6575
155          0        91         toyota  ...       27       32   8778
185          2        94     volkswagen  ...       27       34   8195
81           3       153     mitsubishi  ...       25       32   8499
54           1       113          mazda  ...       31       38   7395
178          3       197         toyota  ...       20       24  16558
204         -1        95          volvo  ...       19       25  22625
184          2        94     volkswagen  ...       37       46   7995
21           1       118          dodge  ...       37       41   5572
36           0        78          honda  ...       30       34   7295
187          2        94     volkswagen  ...       37       42   9495
123         -1        74       plymouth  ...       24       30   8921
148          0        85         subaru  ...       23       29   8013
146          0        89         subaru  ...       28       32   7463
59           1       129          mazda  ...       26       32   8845
175         -1        65         toyota  ...       27       32   9988
106          1       231         nissan  ...       19       25  18399
8            1       158           audi  ...       17       20  23875
133          2       104           saab  ...       21       28  12170
143          0       102         subaru  ...       26       32   9960
97           1       103         nissan  ...       31       37   7999
110          0       NaN         peugot  ...       25       25  13860
63           0       NaN          mazda  ...       36       42  10795

[30 rows x 26 columns]

In [21]:
df['hgwy_mpg'].describe()

count    205.000000
mean      30.751220
std        6.886443
min       16.000000
25%       25.000000
50%       30.000000
75%       34.000000
max       54.000000
Name: hgwy_mpg, dtype: float64

In [22]:
sample1['hgwy_mpg'].describe()

count    30.000000
mean     32.466667
std       6.951722
min      18.000000
25%      28.250000
50%      32.000000
75%      38.000000
max      46.000000
Name: hgwy_mpg, dtype: float64

In [0]:
# I would Conclude that the difference of mean is over 1 so they are different and random.

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [24]:
test = sample1.sample(10)
print(test.shape)
test.head()

(10, 26)

     symboling norm_loss           make  ... city_mpg hgwy_mpg  price
72           3       142  mercedes-benz  ...       16       18  35056
63           0       NaN          mazda  ...       36       42  10795
21           1       118          dodge  ...       37       41   5572
36           0        78          honda  ...       30       34   7295
175         -1        65         toyota  ...       27       32   9988

[5 rows x 26 columns]

In [25]:
test['hgwy_mpg'].describe()

count    10.000000
mean     34.700000
std       7.803845
min      18.000000
25%      32.000000
50%      34.000000
75%      40.250000
max      46.000000
Name: hgwy_mpg, dtype: float64

In [0]:
# The claim is verified bc .3 mpg difference is about 35 as he claimed

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, what would you conclude when sampling 100 cars?

In [0]:
# Have to add replace = True

In [27]:
test2 = sample1.sample(100, replace=True)
print(test2.shape)
test2.head()

(100, 26)

     symboling norm_loss    make    fuel  ... peak_rpm city_mpg hgwy_mpg  price
59           1       129   mazda     gas  ...     4800       26       32   8845
26           1       148   dodge     gas  ...     5500       31       38   7609
63           0       NaN   mazda  diesel  ...     4650       36       42  10795
103          0       108  nissan     gas  ...     5200       19       25  13499
155          0        91  toyota     gas  ...     4800       27       32   8778

[5 rows x 26 columns]

In [28]:
test2['hgwy_mpg'].describe()

count    100.000000
mean      32.350000
std        7.206023
min       18.000000
25%       27.250000
50%       32.000000
75%       38.000000
max       46.000000
Name: hgwy_mpg, dtype: float64

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

##Because the first test is only 1/3 of the data leading to inaccuracy. For example, the test 2 is about .1 off in mpg.

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

In [0]:
from scipy import stats

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [30]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2020-06-08 21:18:31--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.1s

2020-06-08 21:18:32 (130 KB/s) - ‘house-votes-84.data’ saved [18171/18171]

In [31]:
column_headers = ['party','handicapped-infants','water-project',
                  'budget','physician-fee-freeze', 'el-salvador-aid',
                  'religious-groups','anti-satellite-ban',
                  'aid-to-contras','mx-missile','immigration',
                  'synfuels', 'education', 'right-to-sue','crime','duty-free',
                  'south-africa']

df = pd.read_csv('house-votes-84.data', names=column_headers)

print(df.shape)
df.head()

(435, 17)

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n            ?
2    democrat                   ?             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [32]:
df = df.replace({'y': 1, 'n': 0, '?':np.NaN})

df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [34]:
df.isnull().sum()

party                     0
handicapped-infants      12
water-project            48
budget                   11
physician-fee-freeze     11
el-salvador-aid          15
religious-groups         11
anti-satellite-ban       14
aid-to-contras           15
mx-missile               22
immigration               7
synfuels                 21
education                31
right-to-sue             25
crime                    17
duty-free                28
south-africa            104
dtype: int64

In [35]:
df['party'].value_counts()

democrat      267
republican    168
Name: party, dtype: int64

In [0]:
dem = df[df['party'] == 'democrat']
rep = df[df['party'] == 'republican']

In [37]:
dem

        party  handicapped-infants  ...  duty-free  south-africa
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0
5    democrat                  0.0  ...        1.0           1.0
6    democrat                  0.0  ...        1.0           1.0
..        ...                  ...  ...        ...           ...
425  democrat                  0.0  ...        1.0           NaN
426  democrat                  1.0  ...        1.0           1.0
428  democrat                  NaN  ...        1.0           1.0
429  democrat                  1.0  ...        1.0           1.0
431  democrat                  0.0  ...        0.0           1.0

[267 rows x 17 columns]

In [38]:
rep

          party  handicapped-infants  ...  duty-free  south-africa
0    republican                  0.0  ...        0.0           1.0
1    republican                  0.0  ...        0.0           NaN
7    republican                  0.0  ...        NaN           1.0
8    republican                  0.0  ...        0.0           1.0
10   republican                  0.0  ...        0.0           0.0
..          ...                  ...  ...        ...           ...
427  republican                  0.0  ...        0.0           1.0
430  republican                  0.0  ...        0.0           1.0
432  republican                  0.0  ...        0.0           1.0
433  republican                  0.0  ...        0.0           1.0
434  republican                  0.0  ...        NaN           0.0

[168 rows x 17 columns]

In [0]:
# Notes Test

In [40]:
stats.ttest_ind(rep['handicapped-infants'], dem['handicapped-infants'], nan_policy='omit')

Ttest_indResult(statistic=-9.205264294809222, pvalue=1.613440327937243e-18)

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [0]:
# Democrates support the bill about three times more than Republicans

In [43]:
stats.ttest_ind(rep['handicapped-infants'], dem['handicapped-infants'], nan_policy='omit')

Ttest_indResult(statistic=-9.205264294809222, pvalue=1.613440327937243e-18)

In [45]:
print(rep['handicapped-infants'].mean())
print(dem['handicapped-infants'].mean())

0.18787878787878787
0.6046511627906976

In [0]:
# Republicans support the bill about two times more than Democrates

In [48]:
stats.ttest_ind(rep['religious-groups'], dem['religious-groups'], nan_policy='omit')

Ttest_indResult(statistic=9.737575825219457, pvalue=2.3936722520597287e-20)

In [49]:
print(rep['religious-groups'].mean())
print(dem['religious-groups'].mean())

0.8975903614457831
0.47674418604651164

In [0]:
# For the Water prodject Dems and Rep Support at same rate because p value greater than . 1

In [42]:
stats.ttest_ind(rep['water-project'], dem['water-project'], nan_policy='omit')

Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [0]:
### YOUR WORK HERE



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [0]:
### YOUR WORK HERE

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [0]:
### YOUR WORK HERE